<!DOCTYPE html>
<html lang="lv-LV">
    <head>
        <title>Start(it)</title>
        <meta charset="utf8">
        <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="../css/custom.css" media="screen" title="no title" charset="utf-8">
        <link rel="icon" href="../images/Start(IT)SmallLogo.png">
    </head>
    <body>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="../images/Start(IT)Logo.png" alt="Start(IT)"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="../index.html">Sākums<span class="sr-only">(current)</span></a></li>
                <li class="dropdown active">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pirmā diena
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../views/Git.html">GIT</a></li>
                        <li><a href="../views/VSCode.html">VSCode</a></li>
                        <li><a href="../views/AgileScrum.html">Agile/Scrum</a></li>
                        <li class="active"><a href="../views/HtmlTags.html">HTML tags</a></li>
                        <li><a href="../views/CssSelektori.html">CSS Selektori</a></li>
                        <li><a href="#">Bootstrap</a></li>
                    </ul>
                </li>
                <li><a href="../views/PlainJavaScript.html">Plain JavaScript</a></li>
                <li><a href="../views/JavaScriptDom.html">JavaScript + DOM</a></li>
                <li><a href="../views/MacibuMetodologija.html">Mācību Metodoloģija</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div id="wrap">
    <div id="main">
        <div class="container theme-showcase lead text-left" role="main">
            <h1 class="text-center">HTML elementi</h1>                      
            <p>Tātad šeit ir jābūt vairākām rindkopām ar atbilstošu tekstu. Tātad šeit ir jābūt vairākām rindkopām ar atbilstošu tekstu.Tātad šeit ir jābūt vairākām rindkopām ar atbilstošu tekstu.Tātad šeit ir jābūt vairākām rindkopām ar atbilstošu tekstu.Tātad šeit ir jābūt vairākām rindkopām ar atbilstošu tekstu.Tātad šeit ir jābūt vairākām rindkopām ar atbilstošu tekstu.Tātad šeit ir jābūt vairākām rindkopām ar atbilstošu tekstu.Tātad šeit ir jābūt vairākām rindkopām ar atbilstošu tekstu.Tātad šeit ir jābūt vairākām rindkopām ar atbilstošu tekstu.</p>
            <p>Informāciju par HTML elementiem un to pielietojumu varam atrast <a href="https://www.w3schools.com/html/default.asp">šeit</a></p>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-4">
           Jau apgūtie elementi:
            <ul>
                <li>Konteiners</li>
                <li>Virsraksts</li>
                <li>Rindkopa</li>
                <li>Atribūti</li>
                <li>Rindas atdalītājs</li>
            </ul>
            </div>
            <div class="col-xs-4">
            Vēl apgūstamie elementi:
            <ol>
                <li>Numurēts saraksts</li>
                <li>Aizzīmēts saraksts</li>
                <li>Saraksta objekts</li>
                <li>Attēls</li> <img src="../images/Start(IT)Logo.png" alt=logo width=104>
                <li>Poga</li><button>Uzspied!</button>
                <li>Treknraksts</li>
            </ol>
            </div>
            <div class="col-xs-2"></div>
            </div>
            <p>Ir vēl daudz un dažādi CSS selektori, tos var apskatīt <a href="https://www.w3schools.com/cssref/css_selectors.asp">šeit</a></p>
            <p>Patestēt un paskatīties, kā izvēlēti elementi var  <a href=https://www.w3schools.com/cssref/
            trysel.asp>šeit</a>t</p>  
            
        </div>
    </div>
</div>

<h1 class="text-center">Apmācību plāns 1.dienai</h1>
<p class="text-center">Tabulā dots šīsdienas darba plāns</p>
<p class="text-center">Galvenie šodien apskatītie punkti:</p>
<div class="row">
        <div class="col-xs-2 col-sm-4"></div>
        <div class="col-xs-4">   
            <ul class="d-flex justify-content-center">
                <li class="list-group-item list-group-item-success">Projekta izstrādes metodoloģija</li>
                <li class="list-group-item list-group-item-danger">GIT</li>
                <li class="list-group-item list-group-item-warning">VSCode</li>
                <li class="list-group-item list-group-item-info">Plānošanas rīki</li>
                <li class="list-group-item list-group-item-success">Pusdienas</li>
                <li class="list-group-item list-group-item-danger">HTML</li>
                <li class="list-group-item list-group-item-warning">Refleksija</li>
                <li class="list-group-item list-group-item-info">Lektors no IT jomas</li>
            </ul>
    </div>
<div class="col-xs-2 col-sm-4"></div>

<div class="container">


</div>
</div>
    </body>


    <footer class="mastfoot mt-auto container-fluid text-center bg-lightgray">
        <div class="copyrights">
            <p>Start(IT) © 2019
                <br>
                <span>Izstrādātājs: 3. komanda</span>
                <br>
                <span>Īpašnieks: Start(IT)</span>
                <br>
                <span>VEF Kultūras pils</span>
            </p>
        </div>
    </footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="../javaScript/bootstrap.min.js"></script>
<script type="text/javascript" src="../javaScript/custom.js"></script>

</html>